@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-primary: #ffffff;
  --background-color: #f1f1f1;
  --text-color: #1e1e1e;
  --primary-color: #007bff;
  --secondary-color: #f0f0f0;
  --border-color: #ddd;
  --hover-color: #e0e0e0;
}

body.dark-mode {
  --background-color-primary: #000000;
  --background-color: #1e1e1e;
  --text-color: #d6d6d6;
  --primary-color: #8ab4f8;
  --secondary-color: #333333;
  --border-color: #e2e2e2;
  --hover-color: #0f0f0f;
}

body {
  background-color: var(--background-color-primary);
  margin: 0;
  padding: 0;
}
